.dom_one {
    padding: 20px; /* Adjust the value as needed */
}
.dom_button{
    padding: 5px 15px; cursor: pointer; border: 1 solid; border-radius: 5px;
}
.dom_table_design{
    padding: 20px 20px;
    margin-left:auto;
    margin-right:auto;
}
.dom_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.center-menu {
    display: table;
    margin: 0 auto;
}
.dom_menu_large_text{
    font-size:x-large;
}
.dom_content_area{
    margin: 0 auto;
    width: 60%;
}
.header {
    overflow: hidden;
    background-color:#fdfdfd;
    padding: 10px 0px;
    opacity: 0.8;
    width: 1150px;
    margin-left: 350px;
    border-radius: 5px;
}
.header a {
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
.header a:hover {
    background-color: rgb(156, 156, 156);
    color: rgb(10, 10, 10);
}
.header a.active {
    background-color: dodgerblue;
    color: white;
}
.nav{
    text-align: center;
    padding: 15px;
}