<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>

        <img style="margin-left: 50px;" src="/static/logo.jpg">
        <br>

        <div id="menu">
            <div style="display: table;">
              <ul id="horizontal-list" >
                <li style="display: inline;"><a href="/">Home</a></li>
                <li style="display: inline;"><a href="/about">About</a></li>
                <li style="display: inline;"><a href="/contact">Contact</a></li>
                <li style="display: inline;"><a href="/reviews">Reviews</a></li>
                <li style="display: inline;"><a href="/settings">Settings</a></li>
                <li style="display: inline;"><a href="/signin">Sign in</a></li>
                <li style="display: inline;"><a href="/cart">Cart</a></li>
              </ul>
            </div>
          </div>

        <!-- content varies for each page from here -->
        <div id="contentOne"></div>
        <div id="contentTwo">
        
            Contact page
        </div>
    </body>

</html>